
NODE_ENV=development
PORT=3000
JWT_SECRET=
FRONTEND_URL=

DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

MPESA_SHORTCODE=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=

AT_USERNAME=
AT_API_KEY=
