NODE_ENV=development
PORT=5000
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=24h

DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=elimusmart_db
DB_PORT=5432

MPESA_SHORTCODE=
MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_PASSKEY=
MPESA_CALLBACK_URL=

AT_USERNAME=
AT_API_KEY=